<!--banner-->
<div class="banner-bg banner-bg1">
	<%= render partial: "shared/topnav" %>
	<div class="caption">
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider">
					<li>
						<h1>Yoga by Suzanne</h1>
					</li>
				</ul>
				<p class="med">A Website of Zen <em>Share a Smile</em>,<br>
				the <span><strong>NOT SURE WHAT SHOULD GO HERE,</strong></span><br>
				the <span><strong>NOT SURE WHAT SHOULD GO HERE</strong></span></p>
			</div>
		</div>
	</div>
</div>
<!--/banner-->
