<div id="cate" class="categories">
	 <div class="container">
		 <h3>CATEGORIES</h3>
		 <div class="categorie-grids">
			 <a href="bicycles.html">
         <div class="col-md-4 cate-grid grid1">
				   <h4><strong>Blogs</strong></h4>
				   <p>My thoughts on Zen</p>
				   <a class="store" href="/posts">Read</a>
			   </div>
       </a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid2">
				 <h4>Calendar</h4>
				 <p>Check out which Studio Im at</p>
				 <a class="store" href="/events">Follow Me</a>
			 </div></a>
			 <a href="bicycles.html"><div class="col-md-4 cate-grid grid3">
				 <h4><strong>SOMETHING EXTRA</strong></h4>
				 <p>The original organic farm</p>
				 <a class="store" href="/plants">Weed massage oil</a>
			 </div></a>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
