<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="/"><%= image_tag "yoga_burned.png" %></a>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <li><a href="http://www.zibacreations.com">Created by Ziba</a></li>
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
