<div class="footer">
	 <div class="container wrap">
		<div class="logo2">
			 <a href="/"><%#= image_tag "yoga.png" %></a>
		</div>
		<div class="ftr-menu">
			 <ul>
				 <!-- <li><%#= link_to "Designed by Andersen Developing", www.andersendeveloping.com %></li> -->
			 </ul>
		</div>
		<div class="clearfix"></div>
	 </div>
</div>
