<!DOCTYPE html>
<html>
<head>
	<title>Company Name</title>
</head>
<body>
	<div class="container">
		<div class="header">
			 <!-- <div class="col-md-4"> -->
			<div class="logo">
				<h1 class= "company-title"> Yoga By Suzanne </h1>
			</div>
		<!-- </div> -->
		 <!-- <div class="col-md-8"> -->
			<div class="top-nav">
				<ul class="nav">
					<li><%= button_to "Blog", '#', class:"morebtn" %></li>
					<li><%= button_to "Calendar", '#', class:"morebtn" %></li>
					<li><%= button_to "Studios", '#', class:"morebtn" %></li>
					<li><%= button_to "Contact", '#', class:"morebtn" %></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			</div>
		<!-- </div> -->
	</div>
</body>
</html>
