<div class="blog-background">
	<div class="container">
		<div class="blog-links-right">
			<h4 class="company-title">Recent Blogs</h4><br>
			<div class="blog-links">
				<%@posts.limit(50).order('created_at DESC').each do |blog| %>
        <%= link_to "#{blog.title}", post_path(blog.id) %><br>
				<%end %>
			</div>
		</div>
		<div class="blog-link-main">
			<h4 class="company-title"><%= @posts.last.title%></h4>
			<p class="desc"><%= @posts.last.body %></p>
      <a href="#"><i class="fa fa-facebook fa-fw fa-2x">
		</div>
	</div>
</div>
