<div class="categories" id="cate">
	<div class="container">
		<h1 class="company-title">New Blog</h1>
    <%= render 'form', post: @post %>
    <%= button_to 'Back', posts_path, class:"morebtn" %>
	</div>
</div>
