.blog-links-right {
  position: relative;
  display: inline-block;
  /*float: right;*/
  width: 33.3%;
  background: yellow;
  padding: 10px;
    /*position:absolute;*/
    /*right:0; top:150px; bottom: 0;*/
    /*width: 178px;*/
}
.blog-link-main {
  position: relative;
  display: inline-block;
  padding: 20px;
  float: left;
  width: 66.6%;
  background: purple;
    /*position: absolute;
    left:178px; top:150px; right:0; bottom:0;*/
}
.blog-links{
  margin-left: 50px;
}

.blog-background {
  background: url(heart_blog_cloud.png)
}


.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}

.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.5.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:gr
